.list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
    list-style: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.poster {
    width: 100%;
    border-radius: 8px;
}

.noImage {
    width: 200px;
    height: 300px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #333;
    font-weight: bold;
}